# Module 3: Using String patterns ranges and sets

SELECT statement by using:
- String patterns 
- Ranges, or
- Sets of values


## Retrieving rows from a table - using a String Pattern


- Select the rows where firstname in table author start with R:

db2 -> ```select firstname from author 
        where firstname like 'R%'
       ```
- Select the title and pages from table book that have a number of pages between 290 and 300

## Retrieving rows - using a range

The ranges are inclusive.

db2 -> ```
         select title, pages from book where pages between 290 and 300
       ```

## Retrieving rows - using a Set of Values 

- select firstname, lastname and country from table author where the name country is 'AU' or 'BR'

db2 = ```select firstname, lastname, country form author where country  IN ('AU', 'BR')```


## Summary

Now you can describe how to simplify a SELECT statement using:
- String patterns
- Ranges, or
- Set of values