# Module 7: lab Join Operators


## Introduction 

### DISCLAIMER

In this lab we assumed that you created and filled the database using RH database and D2b at IBM cloud.

### HR database

The scheme of RH database contains 5 tables, EMPLOYEES, JOB_HISTORY, JOBS, DEPARTMENTS and LOCATIONS.


## Exercises

### Query 1A: Select the names ("name") and the job start dates ("job start date") of every employees that works in the department number 5.

```sql
SELECT E.f_name, E.l_name, H.start_date, E.dep_id
FROM employees E 
INNER JOIN job_history H on E.emp_id = H.empl_id
WHERE E.dep_id = 5

```

### Query 1B: Select the names ("name"), job start dates ("job start date") and job titles ("job title") of every employee that works in department number 5

```sql
SELECT E.f_name, E.l_name, H.start_date, J.job_title
FROM employees E
INNER JOIN job_history H on E.emp_id = H.empl_id
INNER JOIN jobs J on J.job_ident = H.jobs_id
```

### Query 2A: Do a Left Outer Join using EMPLOYEES and DEPARTMENT, and select the employee ID and Last name and department Name, ID of every employee.

```sql
SELECT E.emp_id, E.l_name,  D.dept_id_dep, D.dep_name
FROM employees E
INNER JOIN departments D on D.dept_id_dep = E.dep_id
```

### Query 2B: Do the same query of 2A filtering the result by employees born before 1980

```sql
SELECT E.emp_id, E.l_name,  D.dept_id_dep, D.dep_name, YEAR(E.b_date) as "Year Born"
FROM employees E
INNER JOIN departments D on D.dept_id_dep = E.dep_id
where YEAR(E.b_date) < 1980
```
### Query 2C: Do the same query of 2A but including all employees but the department name only for people born before 1980

```sql
SELECT E.emp_id, E.l_name,  D.dept_id_dep, D.dep_name, YEAR(E.b_date) as "Year Born"
FROM
	(SELECT *
	FROM employees E
	INNER JOIN departments D on D.dept_id_dep = E.dep_id AND YEAR(E.b_date) < 1980) 
	AS D
RIGHT JOIN employees E 
ON E.emp_id = D.emp_id
```

### Query 3A: Do a full join over the EMPLOYEES and DEPARTMENT tables and select the name, last name and department name of every employer

```sql
SELECT E.f_name, E.l_name, D.dep_name
FROM employees E
FULL JOIN departments D
ON E.dep_id = D.dept_id_dep
```

### Query 3B: Do the same query than 3A but including all the names of every employee and only the department id,name of male employees

```sql
SELECT E.f_name, E.l_name, P.dept_id_dep, P.dep_name
    FROM (SELECT *
    FROM employees E
    FULL JOIN departments D
    ON E.dep_id = D.dept_id_dep and LCASE(E.sex) = 'm') 
    as P
RIGHT JOIN employees E on 
E.emp_id = P.emp_id 
```