# Module 7: Full Outer join Operator

We ill learn about creating a result set by joining all rows from two tables 

- Explain the syntax of the full outer join Operator
- Interpret the result set

## Full Outer Join Operator

- Join: combines the rows from two or more tables 
- Two types of table join:
    - Inner
    - Outer

- Three types of OUter join: 
    - Left Outer join
    - Right Outer join 
    - Full Outer join <- all rows from both tables


This section explains full outer join or simply called full join.

The full join keyword returns all rows from both tables. That is all rows from the left table and all rows from the right table.

Example: Check the names of people who have borrowed a book

### Sintax

```sql
SELECT b.borrower_ID, b.lastname, b.country, l.borrower_id, l.loan_date

from borrower b full join loan l

on b.borrower_id = l.borrower_id
```

If there are some records that have not corresponding borrower ID (in this case) a null value is returned because there are some borrowers that never taken a book out n loan, therefore there is no corresponding borrower ID value in the loan table.