# Module 7: Inner join

## Abstract 

- Explain the SQL syntax to join two or more tables
- Interpret the result set

## Join operators

Join: combine the rows from two or more tables based in the relationship between certain columns in this tables

There are two types of joins:

- Inner <- most popular: displays matches only
- Outer

## Inner Join Operator

Example: check the names of people who have borrowed a book

Sintax:

```sql
SELECT b.borrwer_ID, b.lastname, b.country, l.borrwer_id, l.loan_date
FROM borrower b inner join loan l
on b.borrower_id = l.borrower_id
```

The result set shows the rows from both tables that have the same borrower_id


## Joining Three tables 

If you to combine data from 3 or more different tables. You simply add more joins to the SQL statement:

Example: We want to know which borrowers have a book on loan and we also want to know which copy of the book they have.

```sql
SELECT b.lastname, l.copy_id, c.status,
from borrower b
    INNER JOIN loan l on b.borrower_id = l.borrower_id
    INNER JOIN copy c on l.copy_id = c.copy_id
```

 We join the tables 2 by 2. First we join the information from the borrower table and loan table where the borrower_id is match, then we join the information from the loan table and the copy table where the copy_id is match.



## Summary

- Explain the SQL syntax to join two or more tables 
- Interpret the result set