# Module 7: Left Outer Join

## Abstract

- Explain the syntax of the Left Outer Join Operator
- Interpret the result set

## Left Outer Join operator

- Join: combines the rows from two or more tables 

- Two types of table joins:
    - Inner 
    - Outer

- Three types of Outer Join:
    - Left Outer join <- all rows from the left table & any matching rows from the right table
    - Right Outer join
    - Full Outer join  

Example: Check the names of people who have borrowed a book

```sql
SELECT b.borrower_id, b.lastname, b.country, l.borrower_id, l.loan_date
from borrower b LEFT JOIN loan l
ON b.borrower_id = l.borrower_id
```

In this example, the Borrower table is the Left table.

## Null values 

There are borrowers that have never taken a book out on loan, so this rows are filled with `Null` on the loan columns data.

## Summary

- Explain the syntax of the Left Outer Join Operator
- Interpret the result set, including a NUll value