# Module 5: lab built-in functions

- Create and fill the database with PETSALE data
- Practice the querys that you saw in the last session.

## Aggregate or Column functions

### Query 1: Add all values in the COST column

```
select SUM(saleprice) as "Total sales savings"
from petsale
```

### Query 2 Get the maximum quantity of any animal

```
select max(quantity) as "max animal quantity"
from petsale
```
### Query 3 Get the minimum value of ID column for Dogs

```
select min(id) as "min dogs Id"
from petsale
where LCASE(animal) = 'dog'
```

### Query 4 Specify the Average value of saleprice

```
select avg(saleprice) as "avg saleprice"
from petsale

```

### Query 5 Calculate the average saleprice per 'dog'
```
select avg(saleprice/quantity)
from petsale
where LCASE(animal) = 'dog'

```

## Scalar and String functions 

### Query 1: round up or down every value in saleprice

```
select round(saleprice)
from petsale
```

### Query 2: Retrieve the length of each value in animal

```
select length(animal)
from petsale
```

### Query 3: Retrieve animal values in uppercase

```
select UCASE(animal)
from petsale
```

### Query 4: Use the function (UCASE, LCASE) in wher clause:
```
select *
from petsale
where LCASE(animal) = dog
```

## Date, Time Functions 


### Query 1: Select the day when cats were sold

```
select day(saledate) as day
from petsale
where lcase(animal) = 'cat'
```

### Query 2: Get the number of sales during the month of May

```
select count(*) as Sales
from petsale
where month(saledate) = '05'
```

## Date or time Arithmetic

### Query 3: What date is it 3 days after each rescue date?

```
select (saledate + 3 days) as "3 dates after sale"
from petsale
```

### Query 4: Find how many days have passed since each saledate till now:

```
select (CURRENT_DATE - saledate) as "Days"
from petsale
```