# Module 4: lab practice - Subqueries and multiple tables


## Part A: Subqueries and nested selects 


### Query A1: Introduce a fail (get an error) obtaining every employee which salary are bigger than avg salary

```
select * 
from employees
where salary > avg(salary)
;
```

### Query A2: Introduce a query that works using a subquery to obtain every employee which salary are bigger than avg salary

```
select * 
from employees
where salary > (select avg(salary) from employees)
;
```