# Module 4: lab practice - Subqueries and multiple tables


## Part A: Subqueries and nested selects 


### Query A1: Introduce a fail (get an error) obtaining every employee which salary are bigger than avg salary

```
select * 
from employees
where salary > avg(salary)
;
```

### Query A2: Introduce a query that works using a subquery to obtain every employee which salary are bigger than avg salary

```
select * 
from employees
where salary > (select avg(salary) from employees)
;
```

### Query A3: Introduce a query that fails obtaining every row of employees table and the avg salary in every row

```
select *, avg(salary)
from employees;
```

### Query A4: Introduce a column expression to get every employees and avg salary in the same row

```
select emp_id, salary, (select avg(salary) from employees) as "avg_salary"
from employees;
```

### Query A5: Introduce a table expression to get only the columns with non confidencial data of every employee

```

select *
from (select f_name, l_name, b_date from employees ) as EMNCF;

```

## Part B Multiple tables with sub-queries


### Query B1 Get only the rows of employees that are the same id of departments table

```
select * from
employees where dep_id 
IN ( select dept_id_dep from departments );
```

### Query B2 Get the list of employees with place equals "L0002"

```
select * 
from employees 
where dep_id in 
      (select dept_id_dep from departments where loc_id = 'L0002');
```

### Query B3 Get the department ID and department name of the employee names that earn more than 70000

```
select  dept_id_dep, dep_name
from departments
where dept_id_dep in 
        (select dep_id from employees where  salary > 70000);
```