# Module 2: Create Table statement


## Abstract:

- Distinguish between Data Definition Language statements and DAta Manipulation Language statements
- Create a Table in relational database using Entity Name, Attributes and the ``CREATE TABLE`` statement

## Types of SQL Statements - DDL

- SQL STatements types: DDL and DML

### DDL (DATA Definition Language) statements:
    - Define, change or drop data

- Common DDL:
    - CREATE: create tables and define his columns
    - ALTER: modify tables (delete or add columns and his data types)
    - TRUNCATE: delete data but not the table itself.
    - DROP: delete data and the table.

### DML (Data Manipulation Language) statemens:
    - Read and modify data
    - CRUD operations (Create, Read, Update, Delete rows)

- Common DML:
    - INSERT: insert rows
    - SELECT: read or select rows
    - UPDATE: modify a rows
    - DELETE: delete row or rows


## Create Table 

- Syntax: 
    ```
        CREATE TABLE table_name
            (
                column_name1 datatype optional_parameters,
                column_name2 datatype,
                ...
                columns_name_n datatype
        )
    ```
- Example:
    ```
        CREATE TABLE provinces (
            id char(2) PRIMARY KEY NOT NULL,
            name varchar(24)
        )
    ```



### Create the Author table, use the following columns and datatypes: AUTHOR(Author_ID:char, Lastname:varchar, Firstname:varchar, Email:varchar, City:varchar, Country:char)

```
    CREATE TABLE author(
        author_id CHAR(2) PRIMARY KEY NOT NULL, 
        last_name VARCHAR(15) NOT NULL,
        firstname VARCHAR(15) NOT NULL,
        email VARCHAR(40),
        city VARCHAR(15),
        country CHAR(2)
    )

```


## Summary 

Now you know that:

 - DLL used for defining objects (tables)
 - DML used for manipulating data in tables
 - CREATE used for creating entities (tables)
 - CREATE TABLE statement includes definition of attributes (columns):
    - Names of columns 
    - Datatypes of columns 
    - Constraints (e.g Primary Key)