# Module 3 lab practice

## Part I: Creating tables

Just create the tables using a file on ibm cloud.

## Part II: Loading data

### Question 1: Were there any warnings loading data into the JOBS table? What can be done to resolve this? 
#### Hint: View the data loaded into this table and pay close attention to the JOB_TITLE column. 

Yes, three warnings about truncated information in column number 2. Modify the data structure to allow more chars.

### Question 2: Did all rows from the source file load successfully in the DEPARTMENT table? If not, are you able to figure out why not?

No because two rows has the same primary key.

## Part III: Composing and running queries

### Query 1: Retrieve all employees whose address is in Elgin,IL

```
select * 
from employees
where address like '%Elgin,IL'
;
```
### Query 2: Retrieve all employees who were born during the 1970's.

```
select * 
from employees
where b_date like '197%'
;
```

### Query 3: Retrieve all employees in department 5 whose salary is between 60000 and 70000

```
select * 
from employees
where salary between 60000 and 70000
;
```

### Query 4A: Retrieve a list of employees ordered by departmentID

```
select * 
from employees
order by dep_id
;
```

### Query 4B: Retrieve a list of employees ordered in descending order by departmentID and within each department ordered alphabetically in descending order by last name.

```
select * 
from employees
order by dep_id DESC, l_name DESC
;
```

### Query 5A: For each department ID retrieve the number of employees in the department.

```
select dep_id, count(*) as "number of employes by department"
from employees
group by dep_id
;
```