# Module 6: Getting table and column details

Sometimes your database could contain more than one table and maybe you don't remember their correct names.

For example, you may wonder whether the table is called, dog, dogs, or Dogs.


## Getting a list of tables in the database

The database systems typically contains system or catalogs tables, from where you can query the list of tables and get their properties.

- In DB2: this catalog is called `syscat` table
- In SQL server: INFORMATION_SCHEMA.TABLES
- In Oracle: ALL_TABLES or USER_TABLES


Query system catalog to get a list of tables & their properties:

```sql
select * from syscat.tables
```

This instruction will show to many tables so it's better filter the result:

```sql

select TABSCHEMA, TABNAME, CREATE_TIME
    from syscat.tables
    where tabschema = 'ABC12345'
```

Ensure that you replace `ABC12345` with your own DB2 username.

## Getting Table Properties

```sql
 select * from syscat.tables 
 ```

Imagine that you create several tables with similar names and you want to check which of this tables was the last one you created.

```sql
select TABSCHEMA, TABNAME, CREATE_TIME
    from syscat.tables
    where tabschema='LCT12330'
```

The output will contain the schema name, table name, and creation time for all tables in your schema.

## Getting a list of columns in the database

To obtain the column names query syscat.columns if you remember the table name.

```sql
select * from syscat.columns
    where tabname = 'DOGS'
```

In SQL you can simply run the command:

```sql
SHOW COLUMNS from DOGS
```

Or if you want to known specific column properties:

```sql
select distinct (name), coltype, length
    from sysibm.syscolumns
    where tbname = 'DOGS' 
```

### Column info for a real table

In [ ]:
%sql select distinct(name), coltype. length \
    from sysibm.syscolumns where tbname = ' CHICAGO_CRIME_DATA'