# Module 6 Working With Real World Datasets


## Working with CSV files

- Many real datasets are .CSV files
- .CSV: Comma Separated Values

We will use: DOGS.csv

columns:
- Id
- Name of Dog
- Breed (dominant breed if tno pure breed)

## Column names in the first row

When header row in CSV files contains column names. The default colum names may not always be database or query friendly. In that case you have to edit them before create a database table.

## Querying column names with mixed (upper and lower) case

Retrieve `Id` column from DOGS table.

```sql 
select id from DOGS;
```

If you run this query, you will get a error, because database parser assumes uppercase names by default. Our column name is `Id` (upper case mixed with lowercase) so:

Use double quotes to specify mixed-case column names:


```sql
select "Id" from DOGS;
```

## Querying column names with spaces and special characters

By default, spaces are mapped to underscores:

For example we have the column `Name of Dog` so the database may change it to `Name_of_Dog`

Other specials characters like brackets or parenthesis may also get mapped to underscores:

`Breed (dominant breed if not pure breed)` is mapped to `Breed__Dominant_Breed_if_not_pure_breed_`

So remember to enclose with double quotes with that format.

## Using quotes in Jupyter notebooks

First assign queries to variables:

```python
selectQuery = 'select "Id" from dogs'
```

Use a backslash `\` as the escape character in cases where the query contains single quotes:

```python
selectQuery = 'select * from dogs where "Name_of_Dog"=\'Huggy\''
```

## Splitting queries to multiple lines in Jupyter 

Use backlash "\" to split the query into multiple lines:

```python
%sql select "Id", "Name_of_Dog", \
    from dogs \
    where "Name_of_Dog"='Huggy';
```

Or use %%sql in the first row of the cell in the notebook:

```python
%%sql

select "Id", "Name_of_Dog",
    from dogs
    where "Name_of_Dog"='Huggy'
```