# Module 5: Creating Tables, Loading Data and Querying Data using Python

We will use DB2 as the database

## Connecting to IBM db2

In [1]:
import ibm_db
from dotenv import load_dotenv
import os
load_dotenv(".env")

True

In [2]:
dsn_hostname = os.getenv('HOSTNAME')
dsn_uid = os.getenv('UID')        # p. ej. "abc12345"
dsn_pwd = os.getenv('PWD')      # p. ej. "7dBZ3wWt9XN6$o0J"

dsn_driver = os.getenv('DRIVER')
dsn_database = os.getenv('DATABASE')            # p. ej. "BLUDB"
dsn_port = os.getenv('PORT')                # p. ej. "50000"
dsn_protocol = os.getenv('PROTOCOL')            # p. ej. "TCPIP"
dsn_security = os.getenv('SECURITY')

In [5]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd, dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print("Connected!")

except:
    print("Unable to connect: ", ibm_db.conn_errormsg())

Connected!

## Creating Tables 

We use the ``` ibm_db.exec_immediate() ``` function. The parameters for the function are:

- Connection : the return value of ```ibm_db.conenct``` or ```ibm_db.pconnect```
- Statement : String with the SQL query
- Options : optional parameter that includes a dict to specify the cursor type to return the result set.

### Python code to create a table

```python
stmt = ibm_db.exec_immediate(conn,
"CREATE TABLE  Trucks(
    serial_no VARCHAR(20) PRIMARY KEY NOT NULL,
    model VARCHAR(20) NOT NULL,
    manufacturer VARCHAR(20) NOT NULL,
    Engine_size VARCHAR(20) NOT NULL,
    Truck_Class VARCHAR(20) NOT NULL);"
)
```

In [10]:
stmt = ibm_db.exec_immediate(conn,
                             "CREATE TABLE Trucks(serial_no VARCHAR(20) PRIMARY KEY NOT NULL, \
                             model VARCHAR(20) NOT NULL, \
                                 manufacturer VARCHAR(20) NOT NULL, \
                                 Engine_size VARCHAR(20) NOT NULL, \
                                 Truck_Class VARCHAR(20) NOT NULL);"
                             )

## Python code to insert data into the table

```python
stmt = ibm_db.exec_immediate(conn,
"INSERT INTO Trucks(serial_no, model, manufacturer, Engine_size, Truck_Class)
VALUES('A1234', 'Lonestar', 'International Trucks', 'Cummins ISX15', 'Class 8'),
('B5432', 'Volvo VN', 'Volvo Trucks', 'Volvo D11', 'Heavy Duty Class 8'),
('C5674', 'Kenworth W900', 'Kenworth Truck Co', 'Caterpillar C9', 'Class 8');"
)
```

In [12]:
stmt = ibm_db.exec_immediate(conn,
                             "INSERT INTO Trucks(serial_no, model, manufacturer, Engine_size, Truck_Class) \
                             VALUES('A1234', 'Lonestar', 'International Trucks', \
                                    'Cummins ISX15', 'Class 8'), \
                             ('B5432', 'Volvo VN', 'Volvo Trucks', \
                              'Volvo D11', 'Heavy Duty Class 8'), \
                             ('C5674', 'Kenworth W900', 'Kenworth Truck Co', \
                              'Caterpillar C9', 'Class 8');"
                            )

## Python code to query data
```python
stmt = ibm_db.exec_immediate(conn, "SELECT * FROM trucks);")
ibm_db.fetch_both(stmt)
```

In [14]:
stmt = ibm_db.exec_immediate(conn, "SELECT * FROM trucks;")
ibm_db.fetch_both(stmt)

{'SERIAL_NO': 'A1234',
 0: 'A1234',
 'MODEL': 'Lonestar',
 1: 'Lonestar',
 'MANUFACTURER': 'International Trucks',
 2: 'International Trucks',
 'ENGINE_SIZE': 'Cummins ISX15',
 3: 'Cummins ISX15',
 'TRUCK_CLASS': 'Class 8',
 4: 'Class 8'}

## Fetching data into pandas

In [16]:
import pandas as pd 
import ibm_db_dbi

In [19]:
pconn = ibm_db_dbi.Connection(conn)
df = pd.read_sql('SELECT * FROM Trucks', pconn)
df

,SERIAL_NO,MODEL,MANUFACTURER,ENGINE_SIZE,TRUCK_CLASS
0,A1234,Lonestar,International Trucks,Cummins ISX15,Class 8
1,B5432,Volvo VN,Volvo Trucks,Volvo D11,Heavy Duty Class 8
2,C5674,Kenworth W900,Kenworth Truck Co,Caterpillar C9,Class 8