# Module 5: SubQueries and nested Selects

## Sub-query: A query inside another query

Example: 

```
select COLUMN1 from TABLE
where COLUMN2 = (select MAX(COLUMN2) from TABLE)
```

## Why use sub-queries?

To retrieve the list of employees who earn more than the average salary:
```
select * from employees
where salary > AVG(salary)
```

This query will result in error.


## Sub-queries to evaluate Aggregate functions 

- Cannot evaluate Aggregate functions like AVG() in the WHERE clause
- Therefore, use a sub-Select expression:

```
select EMP_ID, F_NAME, L_NAME, SALARY
from employees
where SALARY <
(select AVG(SALARY) from employees);
```

## Sub-queries in list of columns 

- Substitute column name with a sub-query
- Called Column Expressions 

```
select EMP_ID, SALARY, AVG(SALARY) AS AVG_SALARY
from employees;
```

This will result in an error indicating that no group by clause is specified

```
select EMP_ID, SALARY,
        (select AVG(SALARY) from employees) as AVG_SALARY
from employees;
```

## Sub-queries in FROM clause

- Substitute the TABLE name with a sub-query
- Called Derived Tables or Table Expressions

```
select * from 
    (select EMP_ID, F_NAME, L_NAME, DEP_ID, from employees) AS EMP4ALL;
```