# Module 5: SubQueries and nested Selects

Sub-query: A query inside another query

Example: 

```
select COLUMN1 from TABLE
where COLUMN2 = (select MAX(COLUMN2) from TABLE)
```