# Module 5: Querying multiple tables

## Working with multiple tables 
- Sub-queries
- Implicit JOIN
- JOIN operator (INNER JOIN, OUTER JOIN, etc.)

## Tables for Examples in this Lesson

- Employees : (emp_id, f_name, l_name, ssn, b_date, sex, address, job_id, salary, manager_id, dep_id)
- Departments : (dept_id_dep, dep_name, manager_id, loc_id)

## Accessing Multiple Tables with Sub-queries

To retrieve only the employee records that correspond to departments in the DEPARTMENTS table:

```
select * from employees
where dept_id in
(select DEPT_ID_DEP from departments);
```

To retrieve only the list of employees from a specific location:
- EMPLOYEES table does not contain location information
- Need to get location info from departments table

```
select * from employees
where dept_id in (select DEPT_ID_DEP from departments where loc_id = 'L0002');
```

To retrieve the department ID and name for employees who earn more than $\$70,000$

```
select dept_id_dep, dep_name
from departments
where dept_id_dep in 
(select emp_id from employees where salary > 70000);
```